body{
	padding-top: 50px 0px;
	padding-bottom: 50px 0px;
}
.carousel{
	height: 500px;
	background-color: #000000;
	margin-bottom: 50px;
}
.carousel .item{
	height: 500px;
	background-color: #000000;
}
.carousel img{
	width: 100%;
}
.carousel-caption p{
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1.8;
}
#phone-container .col-md-4{
	text-align: center;
}
hr{
	margin: 50px 0px;
}
.feature{
	padding: 30px 0px;
}
.feature-heading{
	font-size: 50px;
	color: skyblue;
	margin-top: 50px;
}
.feature-heading .text-muted{
	font-size: 30px;
	color: #777777;
}